
*{
	box-sizing: border-box;
	/*font-size: 67.5%;*/
}

.clearfix:after{
	content: "";
	display: table;
	clear: both;
}

body{
	font-family: 'Titillium Web', sans-serif;
	color: #bfbdbf;
	text-align: center;
	background-color: #eee;
}

body main{
	font-family: 'Titillium Web', sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #bfbdbf;
	text-align: center;
	background-color: #eee;
}

a{
	text-decoration: none;
}


header {
	background-color: white;
}

header img {
    max-width: 70px;
    max-height: 70px;
    display: inline-block;
    margin: 0 200px;
    left:-340px;
    position:relative
}

header nav {
	display: inline-block;
	position: relative;
	right:-120px;
}



/*
header ul{
	display: inline-block;
}
*/

header nav a{
	display: block;
	width: 90px;
}

header nav a:active{
	color: red;

}
body header nav ul a:visited{
	text-decoration: none;
	color: #777;
	}

body header nav ul li a{
	position: relative;
	top: -50%;
	display: inline;
}

.nav ul li {
	display:inline-block;
	position:relative;
	top:-27px;
	padding:10px;
}

.head ul li{
	display: inline-block;
	margin: 0px;
	text-align: center;
	margin-top: 13rem;
}

/*Top Main*/

.head{
	background-image: url(../img/maincarouselbg.jpg);
	background-size: cover;
	height: 1000px;
}

.head h1{
    font-size: 8rem;
    text-transform: uppercase;
    color: white;
    font-family: 'Teko' sans-serif;
    font-weight: 300;
    line-height: 10rem;
    padding-top: 15rem;
    margin: 0 auto;
    width: 1200px;
    letter-spacing: 1.03rem;
    top: -
}

.head h2  {
    max-width: 750px;
    display: inline-block;
}

.head a {
	display:table;
	background-color: white;
	margin: 0 auto;
	letter-spacing: 3px;
	padding: 2px 15px;
	margin-top: 50px;
	text-transform: uppercase;
	font-family: 'Teko';
}



.head a:visited{
	color: black;
}

.head a:link{
	color: black;
}

#carousel{
	padding: 10px 40px;
}

.head ul li{
	display: inline-block;
	text-align: center;
	margin: 13rem 5px 5px 5px;
}

.head nav ul li a{
	display: inline-block;
	padding: 3px, 30px;
}

.page h2{
    font-family: 'Teko' sans-serif;
    font-size: 3rem;
    margin: 2%;
    color: black;
	text-transform: uppercase;
}

.page article{
	float:left;
	overflow:hidden;
	width: 49%;
	margin-left: .70%
}



.page h3 {
	font-size: 3rem;
	font-family: 'Teko';
	text-transform: uppercase;
	color: black;
	letter-spacing: 3px;
}

.page p{
	font-family: 'Titillium' sans-serif;
	width: 70%;	
	text-align: center;	
	margin: 0px auto 70px auto;
}

.page article figure figcaption{
	display: none;
}

.bot{
    font-family: 'Teko';
    color: red;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin:50px auto;
    display: inline-block;
    border-bottom: 2px solid red;
    padding-bottom: 5px;
}



/*Footer*/

.showcase{
	background-color: #f63c3c;

}

.showcase h2 {
	text-transform: uppercase;
	font-family: 'Teko' sans-serif;
    font-size: 2.5rem;
    font-weight: 300;
    letter-spacing: 2px;
    margin: 2%;
    color: white;
    padding-top: 2rem;
    margin: 0px;
}

.showcase p{
	color: #ccc	;
	font-size: .8;
}

.showcase a {
    bottom: -48px;
    display: inline-block;
    margin-bottom: 30px;
    margin-top: 15px;
    color: #555;
    background-color: white;
    font-family: 'teko';
    letter-spacing: 3px;
    padding: 5px 40px;
    text-transform: uppercase;
}



aside{

	margin: 0 auto;
	max-width: 1150px;
	width: 70%;
}

aside h2{
	text-transform: uppercase;
	font-family: 'Teko' sans-serif;
	font-size: 2.4rem;
	font-weight: 400;
    letter-spacing: 4px;
	padding-top: 30px;
	color: black;
	text-align: left;
	padding-left: 10%;
}

aside p {
	color: rgba(255 255 255 .7 );
	font-size: .8rem;
	text-align: left;
	padding-left: 10%;
}

aside ul{
	width: 80%;
	display: inline-block;
}

aside ul li {
    color: white;
    background-color: #333;
    float: left;
    font-family: 'Teko' sans-serif;
    font-size: 1.3rem;
    font-weight: 200;
    letter-spacing: 4px;
    text-transform: uppercase;
    width: 22%;
    margin: 50px 0px;
    margin-right: 3.66666666%;
    padding: 30px 30px;
    text-align:center;
}

aside a{
	color: white;
}

aside a:visited{
	color: white;
}


aside ul li{
	font-size: 2.5rem;
}

aside ul li h4{
	font-size: 1.2rem;
	}

aside ul li:last-child{
	margin-right:0px;
}


footer {
	text-align: left;
	padding: 50px;
	display: block;
	background-color: white;
	font-size: .8rem;
}

footer p {
	max-width: 80%;
	text-align: left;
	margin: 0 auto;
}
























